<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Retro_Achievement_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Retro_Achievement_Tracker.Properties.Settings>
      <setting name="ra_username" serializeAs="String">
        <value />
      </setting>
      <setting name="ra_key" serializeAs="String">
        <value />
      </setting>
      <setting name="auto_start_checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="auto_stats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="auto_focus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="auto_notifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stats_font_color_hex_code" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="stats_font_family_name" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="stats_font_outline_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_font_outline_color_hex" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="stats_font_outline_size" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="focus_font_color_hex_code" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="focus_font_family_name" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="focus_font_outline_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="focus_font_outline_color_hex" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="focus_font_outline_size" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="notification_font_color_hex_code" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="notification_font_family_name" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="notification_font_outline_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notification_font_outline_color_hex" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="notification_font_outline_size" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="notification_custom_achievement_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="notification_custom_mastery_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="notification_custom_achievement_file" serializeAs="String">
        <value />
      </setting>
      <setting name="notification_custom_mastery_file" serializeAs="String">
        <value />
      </setting>
      <setting name="notification_custom_achievement_x" serializeAs="String">
        <value>-15</value>
      </setting>
      <setting name="notification_custom_achievement_y" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="notification_custom_mastery_x" serializeAs="String">
        <value>-15</value>
      </setting>
      <setting name="notification_custom_mastery_y" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="notification_custom_achievement_scale" serializeAs="String">
        <value>1.00</value>
      </setting>
      <setting name="notification_custom_mastery_scale" serializeAs="String">
        <value>1.00</value>
      </setting>
      <setting name="notification_custom_achievement_fade_in" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="notification_custom_mastery_fade_in" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="notification_custom_achievement_fade_out" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="notification_custom_mastery_fade_out" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="auto_game_info" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="auto_last_five" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="game_info_font_color_hex_code" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="game_info_font_family_name" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="game_info_font_outline_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="game_info_font_outline_color_hex" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="game_info_font_outline_size" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="last_five_font_color_hex_code" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="last_five_font_family_name" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="last_five_font_outline_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="last_five_font_outline_color_hex" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="last_five_font_outline_size" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="stats_rank_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_awards_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_true_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_ratio_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_game_ratio_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_game_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_game_true_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_game_achievements_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_console_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_developer_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_publisher_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_genre_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_release_date_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_rank_name" serializeAs="String">
        <value>Rank</value>
      </setting>
      <setting name="stats_awards_name" serializeAs="String">
        <value>Awards</value>
      </setting>
      <setting name="stats_points_name" serializeAs="String">
        <value>Points</value>
      </setting>
      <setting name="stats_true_points_name" serializeAs="String">
        <value>True Points</value>
      </setting>
      <setting name="stats_ratio_name" serializeAs="String">
        <value>Ratio</value>
      </setting>
      <setting name="stats_game_ratio_name" serializeAs="String">
        <value>Ratio</value>
      </setting>
      <setting name="stats_game_points_name" serializeAs="String">
        <value>Points</value>
      </setting>
      <setting name="stats_game_true_points_name" serializeAs="String">
        <value>True Points</value>
      </setting>
      <setting name="stats_game_achievements_name" serializeAs="String">
        <value>Cheevos</value>
      </setting>
      <setting name="notifications_achievement_in_animation" serializeAs="String">
        <value>STATIC</value>
      </setting>
      <setting name="notifications_achievement_out_animation" serializeAs="String">
        <value>UP</value>
      </setting>
      <setting name="notifications_mastery_in_animation" serializeAs="String">
        <value>STATIC</value>
      </setting>
      <setting name="notifications_mastery_out_animation" serializeAs="String">
        <value>UP</value>
      </setting>
      <setting name="stream_labels_stats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stream_labels_game_info" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stream_labels_last_five" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stream_labels_focus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="last_five_to_display" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="last_five_verbose_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="game_info_console_name" serializeAs="String">
        <value>Console</value>
      </setting>
      <setting name="game_info_developer_name" serializeAs="String">
        <value>Developer</value>
      </setting>
      <setting name="game_info_publisher_name" serializeAs="String">
        <value>Publisher</value>
      </setting>
      <setting name="game_info_genre_name" serializeAs="String">
        <value>Genre</value>
      </setting>
      <setting name="game_info_release_date_name" serializeAs="String">
        <value>Released</value>
      </setting>
      <setting name="game_info_box_art_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_title_name" serializeAs="String">
        <value>Title</value>
      </setting>
      <setting name="game_info_title_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="game_info_font_size" serializeAs="String">
        <value>52</value>
      </setting>
      <setting name="stats_completed_name" serializeAs="String">
        <value>Completed</value>
      </setting>
      <setting name="stats_completed_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="focus_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stats_background_color" serializeAs="String">
        <value>#FF00FF</value>
      </setting>
      <setting name="notifications_background_color" serializeAs="String">
        <value>#FF00FF</value>
      </setting>
      <setting name="game_info_background_color" serializeAs="String">
        <value>#FF00FF</value>
      </setting>
      <setting name="last_five_background_color" serializeAs="String">
        <value>#FF00FF</value>
      </setting>
      <setting name="focus_background_color" serializeAs="String">
        <value>#FF00FF</value>
      </setting>
      <setting name="focus_border_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notifications_border_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="last_five_border_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="notifications_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="last_five_points_enable" serializeAs="String">
        <value>True</value>
      </setting>
    </Retro_Achievement_Tracker.Properties.Settings>
  </userSettings>
</configuration>